aiobotocore==2.23.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aioitertools==0.12.0
aiosignal==1.3.2
alembic==1.16.1
altair==5.5.0
anndata==0.11.4
annotated-types==0.7.0
annoy==1.17.3
antlr4-python3-runtime==4.9.3
anyio==4.9.0
appdirs==1.4.4
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
array-api-compat==1.12.0
arrow==1.3.0
asciitree==0.3.3
asn1crypto==1.5.1
asttokens==3.0.0
async-lru==2.0.5
attrs==25.3.0
babel==2.17.0
beautifulsoup4==4.13.4
binaryornot==0.4.4
bleach==6.2.0
blinker==1.9.0
boto3==1.38.27
botocore==1.38.27
build==1.2.2.post1
cachetools==5.5.2
certifi==2025.4.26
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.1
click-default-group==1.2.4
cloudpickle==3.1.1
colorama==0.4.6
colorcet==3.1.0
comm==0.2.2
contourpy==1.3.2
cookiecutter==2.6.0
crc32c==2.7.1
cryptography==45.0.4
cycler==0.12.1
dask==2024.12.1
dask-expr==1.1.21
dask-image==2024.5.3
databricks-sdk==0.57.0
datashader==0.18.1
debugpy==1.8.14
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.4.0
docker==7.1.0
docrep==0.3.2
donfig==0.8.1.post1
dotenv==0.9.9
dynaconf==3.2.11
entrypoints==0.4
executing==2.2.0
Faker==37.3.0
fastapi==0.115.12
fasteners==0.19
fastjsonschema==2.21.1
favicon==0.7.0
filelock==3.18.0
Flask==3.1.1
fonttools==4.58.4
foundry-platform-sdk==1.10.0
fqdn==1.5.1
frozenlist==1.6.0
fsspec==2025.5.1
geopandas==1.0.1
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.40.2
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
greenlet==3.2.2
h11==0.16.0
h5py==3.13.0
hnswlib==0.8.0
htbuilder==0.9.0
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
idna==3.10
igraph==0.11.8
imageio==2.37.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
inflect==7.5.0
ipykernel==6.29.5
ipython==9.3.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.1
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kedro==0.19.13
kedro-datasets==7.0.0
kedro-telemetry==0.6.3
kedro-viz==11.0.2
kedro_mlflow==0.14.4
kiwisolver==1.4.8
lazy_loader==0.4
legacy-api-wrap==1.4.1
leidenalg==0.10.2
llvmlite==0.44.0
locket==1.0.0
lxml==5.4.0
Mako==1.3.10
Markdown==3.8.2
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
matplotlib-scalebar==0.9.0
mdurl==0.1.2
mistune==3.1.3
mizani==0.13.5
mlflow==3.1.1
mlflow-skinny==3.1.1
more-itertools==10.7.0
multidict==6.4.4
multipledispatch==1.0.0
multiscale_spatial_image==2.0.2
narwhals==1.44.0
natsort==8.4.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.5
notebook==7.4.3
notebook_shim==0.2.4
numba==0.61.2
numcodecs==0.15.1
numpy==2.2.6
objsize==0.7.1
ome-zarr==0.11.1
omegaconf==2.3.0
omnipath==1.0.10
opentelemetry-api==1.33.1
opentelemetry-sdk==1.33.1
opentelemetry-semantic-conventions==0.54b1
orjson==3.10.18
overrides==7.7.0
packaging==25.0
pandas==2.2.3
pandocfilters==1.5.1
param==2.2.0
parc==0.40
parmap==1.7.0
parse==1.20.2
parso==0.8.4
partd==1.4.2
pathspec==0.12.1
patsy==1.0.1
PhenoGraph==1.5.7
pillow==11.2.1
PIMS==0.7
platformdirs==4.3.8
plotly==6.1.2
plotnine==0.14.6
pluggy==1.6.0
polars==1.30.0
pooch==1.8.2
pre_commit_hooks==5.0.0
prometheus_client==0.22.0
prompt_toolkit==3.0.51
propcache==0.3.1
protobuf==5.29.5
psutil==7.0.0
pure_eval==0.2.3
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybind11==2.13.6
pycparser==2.22
pyct==0.5.0
pydantic==2.11.7
pydantic_core==2.33.2
pydeck==0.9.1
Pygments==2.19.2
PyJWT==2.10.1
pymdown-extensions==10.16
pynndescent==0.5.13
pyogrio==0.11.0
pyOpenSSL==25.1.0
pyparsing==3.2.3
pyproj==3.7.1
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-json-logger==3.3.0
python-slugify==8.0.4
pytoolconfig==1.3.1
pytz==2025.2
pywin32==310
pywinpty==2.0.15
PyYAML==6.0.2
pyzmq==27.0.0
referencing==0.36.2
reportlab==4.4.2
requests==2.32.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.0.0
rope==1.13.0
rpds-py==0.25.1
rsa==4.9.1
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.12
s3fs==2025.5.1
s3transfer==0.13.0
scanpy==1.11.2
scikit-image==0.25.2
scikit-learn==1.7.0
scipy==1.16.0
seaborn==0.13.2
secure==1.0.1
Send2Trash==1.8.3
session-info2==0.1.2
setuptools==80.9.0
shapely==2.1.1
six==1.17.0
sklearn-ann==0.1.2
slicerator==1.1.0
smmap==5.0.2
sniffio==1.3.1
snowflake-connector-python==3.15.0
snowflake-snowpark-python==1.33.0
sortedcontainers==2.4.0
soupsieve==2.7
spatial_image==1.2.1
spatialdata==0.4.0
SQLAlchemy==2.0.41
sqlparse==0.5.3
squidpy==1.6.5
st-annotated-text==4.0.2
st-theme==1.2.3
stack-data==0.6.3
starlette==0.47.1
statsmodels==0.14.4
strawberry-graphql==0.275.3
streamlit==1.46.0
streamlit-avatar==0.1.3
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.7.1
streamlit-faker==0.0.3
streamlit-image-coordinates==0.3.1
streamlit-keyup==0.3.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
tenacity==9.1.2
terminado==0.18.1
text-unidecode==1.3
texttable==1.7.0
threadpoolctl==3.6.0
tifffile==2025.6.11
tinycss2==1.4.0
toml==0.10.2
tomlkit==0.13.3
toolz==1.0.0
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
typeguard==4.4.4
types-python-dateutil==2.9.0.20250516
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
tzlocal==5.3.1
umap==0.1.1
umap-learn==0.5.7
uri-template==1.3.0
urllib3==2.5.0
uvicorn==0.34.3
validators==0.35.0
waitress==3.0.2
watchdog==6.0.0
watchfiles==1.1.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==4.0.14
wrapt==1.17.2
xarray==2025.6.1
xarray-dataclasses==1.9.1
xarray-schema==0.0.3
xarray-spatial==0.4.0
yarl==1.20.1
zarr==2.18.3
zipp==3.23.0
