# Packages from our .yml files and startup.sh that are listed there but don't work in the requirements.txt file
# gcc_linux-64  # doesn't work
# gxx_linux-64  # doesn't work
# python-annoy  # doesn't work
# pygeos  # doesn't work

# This all works though may uninstall packages in order to install their latest versions. I tried listing already installed packages using pip list and pip freeze in order to make the following list smaller, but it didn't list packages that I know are already installed, such as pandas, and it's not worth investigating now
PhenoGraph
anndata
annoy
dill
hnswlib
matplotlib
natsort
numpy
objsize
parc
parmap
plotly
plotnine
pynndescent
pyyaml
scanpy
scikit-image
scikit-learn
scipy
seaborn
setuptools-scm
sklearn-ann
split-file-reader
squidpy
streamlit-extras
tqdm
umap-learn
