aiobotocore==2.25.0
aioitertools==0.12.0
annoy==1.17.3
asciitree==0.3.3
boto3==1.40.45
botocore==1.40.49
docrep==0.3.2
get-annotations==0.1.2
inflect==7.5.0
legacy-api-wrap==1.4.1
llvmlite==0.43.0
matplotlib==3.9.4
matplotlib-scalebar==0.9.0
munkres==1.1.4
omnipath==1.0.12
parc==0.40
pyarrow==21.0.0
PySide6==6.8.2
PyWavelets==1.6.0
s3fs==0.6.0
s3transfer==0.14.0
scanpy==1.10.3
session_info==1.0.1
shiboken6==6.8.2
sklearn-ann==0.1.2
split-file-reader==0.1.4
squidpy==1.6.1
st-pages==1.0.1
stdlib-list==0.12.0
streamlit-javascript==0.1.5
typeguard==4.4.4
wrapt==1.17.3
